/* =========================
   GEORGIA FONT
========================= */
@font-face {
  font-family: 'Georgia Custom';
  src: url('../fonts/georgia/georgia.woff2') format('woff2'),
       url('../fonts/georgia/georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* =========================
   SF PRO
========================= */
@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/sf-pro/SF-Pro.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

/* =========================
   SF PRO DISPLAY - REGULAR
========================= */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Regular.woff2') format('woff2'),
       url('../fonts/sf-pro/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =========================
   SF PRO DISPLAY - MEDIUM
========================= */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Medium.woff2') format('woff2'),
       url('../fonts/sf-pro/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* =========================
   SF PRO DISPLAY - SEMIBOLD
========================= */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/sf-pro/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* =========================
   GLOBAL FONT USAGE
========================= */
body {
  font-family: 'SF Pro', 
               -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
               'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222;
  background-color: var(--glo);
}

p {
  font-family: 'SF Pro', 
               -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
               'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}


h1, h2, h3, blockquote {
  font-family: 'Georgia Custom', Georgia, 'Times New Roman', serif;
}