:root {
    --indigo: #96A5C2;
    --vivid: #BFDCFE;
    --blae: #BBBBBB;
    --silt: #A8ACA3;
    --taupe: #968C85;
    --sand: #D8D0C5;
    --ebony: #000000;
    --glo: #FFFFFF;
    --mist: #F2F0ED;
}

/* =========================
   GEORGIA FONT
========================= */
@font-face {
  font-family: 'Georgia Custom';
  src: url('../fonts/georgia/georgia.woff2') format('woff2'),
       url('../fonts/georgia/georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* =========================
   SF PRO DISPLAY - REGULAR
========================= */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Regular.woff2') format('woff2'),
       url('../fonts/sf-pro/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =========================
   SF PRO DISPLAY - MEDIUM
========================= */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Medium.woff2') format('woff2'),
       url('../fonts/sf-pro/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* =========================
   SF PRO DISPLAY - SEMIBOLD
========================= */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/sf-pro/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* =========================
   GLOBAL FONT USAGE
========================= */
body {
  font-family: 'SF Pro Display', 
               -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
               'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222;
  background-color: var(--glo);
}


h1, h2, h3, blockquote {
  font-family: 'Georgia Custom', Georgia, 'Times New Roman', serif;
}


/* ==============================================
   MAIN CONTAINER (Matches 1336px grid from Figma)
   ============================================== */
@media (min-width: 1200px) {
  .container {
    max-width: 1336px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Keep same at ≥1400px for consistency */
@media (min-width: 1400px) {
  .container {
    max-width: 1336px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* ==============================================
   HEADER CONTAINER (Wider 1392px grid)
   ============================================== */
.header-container {
  max-width: 1392px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  z-index: 2;
}

/* ==============================================
   CONSISTENT INNER GUTTERS FOR BOTH
   ============================================== */
.container > .row,
.header-container > .row {
  --bs-gutter-x: 26px; /* ~52px total spacing in 1440px view */
}

/* ==============================================
   CENTER FIX FOR ULTRA-WIDE SCREENS ≥1920px
   Keeps design centered within 1440px frame
   ============================================== */
@media (min-width: 1920px) {
    .container, .header-container {
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 1872.768px;
    }
}


#headerSection {margin-bottom:-124px;padding:24px 0}
#headerSection >.header-container>nav{background-color:rgb(76 81 77 / 60%)!important;border-radius:100px;padding:16px;backdrop-filter:blur(44px);-webkit-backdrop-filter:blur(44px)}
#headerSection  .nav-link.active,.nav-link,.nav-link.active:hover,.nav-link:hover{font-size:14px;font-family:'SF Pro',sans-serif;color:var(--glo)!important;padding:0!important}
#headerSection  .navbar-nav{gap:32px}
#headerSection  .top-call{color:var(--glo);font-size:16px;font-weight:500;font-family:'SF Pro Display',sans-serif;padding:10px 24px;text-decoration:none;line-height:24px;letter-spacing:.32px;background-color:rgb(255 255 255 / 12%);border-radius:25px}

#homeHeroSection{background-image:url('/assets/imgs/home/hero-image-square.png');background-size:cover;background-position:100% 20%;background-repeat:no-repeat;padding:0 0 4.75rem;position:relative}
#homeHeroSection:before{content:'';position:absolute;width:100%;height:38%;bottom:0;background:linear-gradient(to bottom,transparent 50%,rgb(0 0 0 / 62%) 92%);backdrop-filter:blur(5px);-webkit-backdrop-filter:blur(5px);z-index:1}
#homeHeroSection .container *{z-index:2}
#homeHeroSection h1{font-size:3.75rem;line-height:72px;color:var(--glo)}
#homeHeroSection .left p{font-size:1.5rem;line-height:36px;color:rgb(255 255 255 / 60%);margin:0;margin-bottom:10px}
#homeHeroSection .right{gap:48px}
#homeHeroSection .right p{color:var(--glo);font-size:1.125rem;margin:0}
#homeHeroSection .right .btn{padding:10px 24px;font-size:1rem;border-radius:32px;font-weight:500;background-color:var(--glo);font-family:'SF Pro Display',sans-serif}

#homeServiceSection{padding:80px 0 80px}
#homeServiceSection .title-section{padding-bottom:3.75rem}
#homeServiceSection .btn,#homeServiceSection .btn.active,#homeServiceSection .btn.active:hover,#homeServiceSection .btn:hover{padding:10px 24px;border-radius:25px;background-color:transparent;color:var(--ebony);border-color:transparent}
#homeServiceSection .btn.active,#homeServiceSection .btn.active:hover,#homeServiceSection .btn:hover{background-color:var(--mist)}
#homeServiceSection .button{gap:10px}
#homeServiceSection .service-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:4px}
#homeServiceSection .service-grid .service-item{padding:8px;background-color:var(--mist);border-radius:12px;display:flex;flex-direction:column;gap:24px}
#homeServiceSection .si-image{height:215px;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:8px}
#homeServiceSection .si-content{padding:12px;gap:37px}
#homeServiceSection .si-content h3{font-size:1.5rem;font-family:'SF Pro Display',sans-serif;font-weight:600;margin-bottom:0}
#homeServiceSection .si-content p{font-size:.875rem;font-family:'SF Pro Display',sans-serif;font-weight:400;margin-bottom:0;color:var(--ebony);opacity:60%}
#homeServiceSection .btn.contact-us{background-color:#4c514d;color:#fff}
#homeServiceSection .title-section.look{padding-top:10rem}
#homeServiceSection .title h2 {font-size: 3rem;}

#homeBenefitSection{background-color:var(--indigo);padding:80px 0}
#homeBenefitSection .title h2{font-size:2.25rem;font-family:'SF Pro Display',sans-serif;font-weight:500;line-height:48px}
#homeBenefitSection .title{height:588px}
#homeBenefitSection .benefits{gap:80px}
#homeBenefitSection .benefit-item{padding:20px;border-radius:24px;background-color:#fff;gap:35px}
#homeBenefitSection .bi-image{width:100%;height:282px;border-radius:24px;background-position:100% 30%;background-size:100% auto}
#homeBenefitSection .bi-content h3{font-size:2.25rem;font-weight:600;font-family:'SF Pro Display',sans-serif;margin-bottom:28px}
#homeBenefitSection .bi-content p{font-size:.875rem;font-family:'SF Pro Display',sans-serif;font-weight:400;margin-bottom:1.5rem}

#homeWhyChooseSection {padding: 8.125rem 0 2.125rem;}
#homeWhyChooseSection .title h2 {font-size: 3rem;}
#homeWhyChooseSection .statement p {font-size: 3.5rem;line-height: 4.25rem;}
#homeWhyChooseSection .why-slider{gap:12px}
#homeWhyChooseSection .why-slider .col-md-4{padding:0;width:32.7468776%}
#homeWhyChooseSection .why-item{padding:36px;border-radius:16px;background-color:var(--mist);height:426px;display:flex;flex-direction:column;justify-content:space-between}
#homeWhyChooseSection .wi-title{font-size:1.5rem;font-family:'SF Pro Display',sans-serif;font-weight:600;margin:0;width:71%;margin-bottom:20px}
#homeWhyChooseSection .wi-desc{font-size:.875rem;line-height:1.25rem;padding:0;color:var(--ebony);opacity:50%}
#homeWhyChooseSection .tour{padding:16px;border-radius:24px;background-color:var(--vivid)}
#homeWhyChooseSection .tour>.col-md-5,.tour>.col-md-7{padding:0}
#homeWhyChooseSection .tour .content{padding:6.75rem 8rem 7.75rem 4rem}
#homeWhyChooseSection .tour h2{font-size:3rem;line-height:3.75rem;margin-bottom:1.5rem}
#homeWhyChooseSection .tour h3{font-family:'SF Pro Display',sans-serif;font-size:1.25rem;font-weight:600;line-height:2rem;margin-bottom:5rem}
#homeWhyChooseSection .tour .timage{width:100%;height:100%;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:16px}

#homeTestimonialSection {padding: 2.125rem 0 9.4065rem;}
#homeTestimonialSection .title h2 {font-size: 3rem;}
#homeTestimonialSection .statement p{font-size:1rem;line-height:1.5rem;font-weight:400}
#homeTestimonialSection .statement p:first-child{font-size:1.25rem;line-height:2rem;font-weight:600}
#homeTestimonialSection .tesimonial-grid{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;margin-top:6rem;gap:.75rem}
#homeTestimonialSection .testimonial-item{padding:36px;border-radius:24px;height:285px}
#homeTestimonialSection .testimonial-item.taupe-bg{background-color:var(--taupe)}
#homeTestimonialSection .testimonial-item.mist-bg{background-color:var(--mist)}
#homeTestimonialSection .testimonial-item.vivid-bg{background-color:var(--vivid)}
#homeTestimonialSection .testimonial-item.slit-bg{background-color:var(--silt)}
#homeTestimonialSection .testimonial-item.black-text h3,.testimonial-item.black-text h4,.testimonial-item.black-text p{color:var(--ebony)}
#homeTestimonialSection .testimonial-item.white-text h3,.testimonial-item.white-text h4,.testimonial-item.white-text p{color:var(--glo)}
#homeTestimonialSection .testimonial-item h4{font-size:1rem;line-height:1.5rem;opacity:70%}
#homeTestimonialSection h3.ti-name{font-size:1.5rem;font-family:'SF Pro Display',sans-serif;font-weight:600}

#homeGalleryResultSection {padding: 9.4065rem 0 3.125rem;}
#homeGalleryResultSection .gallery {padding:1rem 1rem 6.25rem;border-radius:24px;background-color:var(--mist);}
#homeGalleryResultSection .gallery > .col-md-5, #homeGalleryResultSection .gallery>.col-md-7{padding:0}
#homeGalleryResultSection .gallery .content{padding:6.75rem 8rem 7.75rem 4rem}
#homeGalleryResultSection .gallery h2{font-size:3rem;line-height:3.75rem;margin-bottom:1.5rem; text-align: center;margin-top: 6.25rem;}
#homeGalleryResultSection .gallery p{font-size:1rem;line-height:1.5rem;margin-bottom:1.5rem; text-align: center;margin: 0 auto 1.5rem; width: 37%;}
#homeGalleryResultSection .gallery h3{font-family:'SF Pro Display',sans-serif;font-size:1.25rem;font-weight:600;line-height:2rem;margin-bottom:5rem}
#homeGalleryResultSection .gallery .timage{width:100%;height:100%;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:16px}
#homeGalleryResultSection .btn,#homeGalleryResultSection .btn.active,#homeGalleryResultSection .btn.active:hover,#homeGalleryResultSection .btn:hover{padding:10px 24px;border-radius:25px;background-color:transparent;color:var(--ebony);border-color:transparent}
#homeGalleryResultSection .btn.active,#homeGalleryResultSection .btn.active:hover,#homeGalleryResultSection .btn:hover{background-color:rgba(0,0,0,.06)}
#homeGalleryResultSection .gallery-filter{margin-top:2.25rem}
#homeGalleryResultSection .gallery-seperator{width:100%;height:1px;margin-top:32px;margin-bottom:32px;background-color:rgba(0,0,0,.12)}
#homeGalleryResultSection .gallery-grid-items-wrap{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;gap:32px}
#homeGalleryResultSection .gallery-grid-item{background-color:var(--glo);padding:12px;border-top-left-radius:16px;border-top-right-radius:16px;border-bottom-left-radius:24px;border-bottom-right-radius:24px}
#homeGalleryResultSection .gallery-header{padding:12px;display:flex;justify-content:space-between;gap:12px;align-items:center}
#homeGalleryResultSection .gallery-item-title{font-size:1rem;font-family:'SF Pro Display',sans-serif;font-weight:600;line-height:1.5rem;margin:0}
#homeGalleryResultSection span.label{padding:4px 12px;background:red;font-size:.75rem;font-weight:500;background-color:rgba(0,0,0,.12);display:inline-block;border-radius:30px}
#homeGalleryResultSection .gallery-content{display:flex;flex-direction:column;gap:4px}
#homeGalleryResultSection .gallery-content>.after,.gallery-content>.before{width:100%;height:208px;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:1.5rem;position:relative;padding:20px}
#homeGalleryResultSection span.ba{position:absolute;bottom:20px;left:20px;padding:6px 10px;color:#fff;text-transform:uppercase;font-weight:600;border-radius:50px}
#homeGalleryResultSection span.ba.before{background:#00000047;backdrop-filter:blur(20px)}
#homeGalleryResultSection span.ba.after{background:var(--indigo);backdrop-filter:blur(20px)}
#homeGalleryResultSection .gallery .tw h2{margin-bottom:6.25rem}
#homeGalleryResultSection .gallery .reason-to-believe{display:grid;grid-template-columns:1fr 1fr 1fr;gap:60px;margin-bottom:3.75rem}
#homeGalleryResultSection .gallery .rtb{gap:24px}
#homeGalleryResultSection .gallery .rtb p{font-size:1.25rem;line-height:2rem;margin:0;color:var(--ebony);font-family:'SF Pro Display',sans-serif;font-weight:600;width:100%}
#homeGalleryResultSection .author-box{padding:16px;background-color:#4c514d;border-radius:48px;display:flex;gap:48px}
#homeGalleryResultSection .author_image{width:35%;height:100%;background-color:#fff;background-position:center top;background-size:cover;background-repeat:no-repeat;border-radius:32px}
#homeGalleryResultSection .author_content{display:flex;flex-direction:column;width:65%;align-items:start;justify-content:start;gap:48px;padding:24px 0}
#homeGalleryResultSection .author_content h2{margin:0;text-align:left;font-size:2.25rem;font-family:'SF Pro Display',sans-serif;font-weight:600;line-height:2.75rem;color:var(--glo)}
#homeGalleryResultSection .author_name h4{font-size:1.5rem;color:#fff;line-height:2.25rem;font-weight:600;margin-bottom:8px}
#homeGalleryResultSection .author_name span{font-size:1rem;color:#fff;line-height:1.5rem;font-weight:400;opacity:70%}
#homeGalleryResultSection .author_detail{display:grid;grid-template-columns:1fr 1fr;width:100%}
#homeGalleryResultSection .author_contact{display:flex;align-items:center;justify-content:center;gap:8px}
#homeGalleryResultSection .author_contact>.btn{padding:10px 24px;border-radius:70px;font-size:1rem;font-family:'SF Pro Display',sans-serif;font-weight:500}
#homeGalleryResultSection .author_contact>.btn.btn-light{background-color:#fff;color:#000}
#homeGalleryResultSection .author_contact>.btn.btn-dark{color:#fff;background-color:rgba(255,255,255,.12)}

#homeArticleSection{padding:6.25rem 0 6.25rem}
#homeArticleSection>.container{display:flex;gap:3.75rem;flex-direction:column}
#homeArticleSection .title h2{font-size:3rem}
#homeArticleSection .btn.btn-primary.view-all{padding:10px 24px;border-radius:70px;font-size:1rem;font-family:'SF Pro Display',sans-serif;font-weight:500;background:#4c514d;border-color:#4c514d}
#homeArticleSection .blog-loop{padding:20px;background-color:var(--mist);border-radius:24px;border:1px solid #e0e0e0}
#homeArticleSection .blog-loop{padding:20px;background-color:var(--mist);border-radius:24px;border:1px solid #e0e0e0;display:grid;grid-template-columns:1fr 1fr;grid-template-rows:1fr 1fr;gap:20px}
#homeArticleSection .blog-item{padding:0}
#homeArticleSection .bi-image{width:35%;height:190px;border-radius:12px;background-position:center;background-repeat:no-repeat;background-size:cover}
#homeArticleSection .bi-content{width:65%;padding:1rem}
#homeArticleSection .bi-date{font-size:.875rem;font-weight:400;line-height:1.25rem;color:#000}
#homeArticleSection .bi-category{font-size:.75rem;font-weight:400;line-height:1.25rem;color:#000;background-color:rgb(0 0 0 / 12%);padding:4px 12px;border-radius:50px}
#homeArticleSection .bi-title{font-size:1rem;font-weight:600;line-height:1.5rem;font-family:'SF Pro Display',sans-serif}

#homeFaqSection .faq-section{background:#fff;color:#000}
#homeFaqSection .faq-title{font-size:2rem;font-weight:600}
#homeFaqSection .faq-subtitle{color:#555;margin-bottom:2rem}
#homeFaqSection .accordion-item{border:1px solid #eee;border-radius:.75rem;margin-bottom:1rem;overflow:hidden;background:#f9f8f7;box-shadow:0 2px 6px rgba(0,0,0,.04)}
#homeFaqSection .accordion-flush>.accordion-item{border-radius:1rem}
#homeFaqSection .accordion-button:focus{box-shadow:none}
#homeFaqSection .accordion-button{background-color:var(--mist);color:#000;font-size:1.25rem;font-weight:600;padding:1rem 1.25rem;box-shadow:none;line-height:2rem;font-family:'SF Pro Display',sans-serif;border:none;transition:background-color .3s ease}
#homeFaqSection .accordion-button:hover{background-color:#f1efed}
#homeFaqSection .accordion-button:not(.collapsed){background-color:#6c635a;color:#fff}
#homeFaqSection .accordion-button::after{display:none}
#homeFaqSection .accordion-button::before{flex-shrink:0;width:var(--bs-accordion-btn-icon-width);height:var(--bs-accordion-btn-icon-width);margin-left:0;margin-right:17px;content:"";background-image:var(--bs-accordion-btn-icon);background-repeat:no-repeat;background-size:var(--bs-accordion-btn-icon-width);transition:var(--bs-accordion-btn-icon-transition)}
#homeFaqSection .accordion-button:not(.collapsed)::before{filter:invert(1);transform:rotate(180deg)}
#homeFaqSection .accordion-body{background-color:var(--mist);color:#444;padding:1rem 1.25rem;font-size:.95rem;line-height:1.6}

#homeCtaSection .row{position:relative;padding:3.75rem 5rem;background-position:8rem center;background-repeat:no-repeat;background-size:88rem auto;border-radius:24px;z-index:1}
#homeCtaSection .row:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(90deg,rgb(255 255 255) 17%,transparent 24%);border-radius:24px;z-index:0}
#homeCtaSection .row .col-md-6{display:flex;flex-direction:column;padding-top:24px;padding-bottom:24px;gap:48px;align-items:start;z-index:1}
#homeCtaSection h2{font-size:4rem}
#homeCtaSection p{font-size:1.25rem}
#homeCtaSection .cta-btn-group{display:flex;gap:8px}
#homeCtaSection .cta-btn-group .btn{padding:10px 24px;border-radius:25px;background-color:transparent;color:var(--ebony);border-color:transparent}
#homeCtaSection .cta-btn-group .btn.fom{background-color:#000;color:#fff}
#homeCtaSection .cta-btn-group .btn.ot{background-color:#fff;color:#000}
























#footerSection {background-color:#4c514d;color:#fff;padding:3.75rem 0 2.5rem}
#footerSection .navbar-brand img{width:283px}
#footerSection .footer-contact .text-secondary.small{font-size:.875rem;color:var(--glo)!important;opacity:70%;font-weight:400}
#footerSection .footer-contact .fw-bold{font-size:.875rem;color:var(--glo)!important;font-weight:500}
#footerSection .footer-links .widget-title{font-size:.875rem;color:var(--glo)!important;font-weight:400;opacity:70%}
#footerSection .footer-links a{font-size:1rem;color:var(--glo)!important;font-weight:500;text-decoration:none}
#footerSection .footer-button a{padding:10px 24px;font-size:1rem;border-radius:32px;font-weight:500;background-color:var(--glo);font-family:'SF Pro Display',sans-serif}
#footerSection .copyright .privacy a,.copyright p{font-size:.875rem;color:var(--glo)!important;text-decoration:none;opacity:70%;margin:0}
#footerSection .copyright p{text-align:right}